// Base style
.container {
    width: 940px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s ;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

// Style CSS
// Header
.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__nav-links {
        display: flex;
        flex-direction: row;
        gap: 30px;

        a {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 2px;
        }
    }

    .nav__nav-cart {
        display: flex;
        gap: 10px;

        a {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 2px;

            img {
                margin-right: 10px;
            }
        } 
    }

    a:hover {
        color: brown;
    }
}

// Mugs
.mugs {
    height: 530px;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .mugs__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #FFFFFF;
        margin-top: 160px;

        span {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 47px;
            line-height: 60px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        p {
            font-size: 17px;
            line-height: 30px;
            margin-bottom: 38px;
        }

        button {
            width: 231px;
            margin: 0 auto;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 8px 12px;
            transition: .3s;
            background-color: #FFFFFF;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: brown;
            color: white;
        }
    }
}

// Catalog
.catalog {
    padding-top: 120px;
    display: flex;
    flex-direction: column;

    .catalog__text {
        width: 658px;
        text-align: center;
        margin: 0 auto 102px;

        h2 {
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 16px;
            font-weight: 400;
        }

        p {
            line-height: 28px;
            color: rgba(29, 31, 46, 0.7);
            margin-bottom: 21px;
            text-transform: uppercase;
        }

        button {
            background-color: inherit;
            border: none;
            cursor: pointer;
            font-size: 15px;
            line-height: 28px;
            color: #A25F48;
            border-bottom: 2px solid rgba(162, 95, 75, 0.2);
            transition: .3s;
        }

        button:hover {
            color: darksalmon;
            border-color: darksalmon;
        }   
    }

    .catalog__featured {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .catalog__featured__header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            span {
                width: 30px;
                height: 1px;
                background-color: #ECECED;
            }
    
            p {
                margin: 0 15px;
                text-transform: uppercase;
            }
        }

        .catalog__featured__items {
            width: 960px;
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 10px;
            margin-bottom: 100px;

            .cardShop {
                img {
                    margin-bottom: 35px;
                }

                p {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 5px;
                }

                .cardShop__actualPrice {
                    font-size: 19px;
                    line-height: 32px;
                    color: #A25F48;
                    margin-right: 10px;
                }

                .cardShop__price {
                    line-height: 28px;
                    color: rgba(29, 31, 46, 0.7);
                }

                .cardShop__innv {
                    color: rgba(29, 31, 46, 0.4);
                    text-decoration: line-through;
                }
            }
        }
    }

    .catalog__products {
        
        .catalog__products__header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            span {
                width: 30px;
                height: 1px;
                background-color: #ECECED;
            }
    
            p {
                margin: 0 15px;
                text-transform: uppercase;
            }
        }

        .catalog__products__items {
            width: 960px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            gap: 10px;
            margin-bottom: 100px;

            .cardShop {
                img {
                    margin-bottom: 35px;
                }

                p {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 5px;
                }

                .cardShop__actualPrice {
                    font-size: 19px;
                    line-height: 32px;
                    color: #A25F48;
                    margin-right: 10px;
                }

                .cardShop__price {
                    line-height: 28px;
                    color: rgba(29, 31, 46, 0.7);
                }

                .cardShop__innv {
                    color: rgba(29, 31, 46, 0.4);
                    text-decoration: line-through;
                }
            }
        }
    }

    .catalog__magazine {
        margin-bottom: 130px;

        .catalog__magazine__header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            span {
                width: 30px;
                height: 1px;
                background-color: #ECECED;
            }
    
            p {
                margin: 0 15px;
                text-transform: uppercase;
            }
        }

        .catalog__magazine__items {
            display: flex;
            gap: 20px;

            .catalog__magazine__items__img {
                display: flex;
                gap: 20px;
    
                .img-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    img {
                        height: 130px;
                    }
                }
            }

            .catalog__magazine__items__text {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                }

                h3 {
                    font-size: 36px;
                    line-height: 50px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }

                p {
                    line-height: 28px;
                    color: rgba(29, 31, 46, 0.7);
                    margin-bottom: 30px;
                }

                button {
                    width: 173px;
                    background-color: #1D1F2E;
                    border: none;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 8px 20px;
                    cursor: pointer;
                }

                span, h3, p, button {
                    margin-left: 60px;
                }
            }
        }
    }
}