/* Base style */
.container {
  width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .3s ;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.App {
  overflow: hidden;
}

@media (max-width: 991px) {
  .App {
    padding: 0 15px;
  }
}

/* Style CSS */
/* Header */

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav__nav-links a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
.nav__nav-cart {
  display: flex;
  gap: 10px;
}
.nav__nav-cart a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
.nav__nav-cart a img {
  margin-right: 10px;
}
.nav a:hover {
  color: brown;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  
  .hamburger-menu {
    display: block;
  }

  .nav__nav-cart,
  .nav__nav-links {
    display: none;
  }

  .nav {
    justify-content: space-around;
  }
}

/* Mugs */
.mugs {
  height: 530px;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.mugs .mugs__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
  margin-top: 160px;
}
.mugs__text span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.mugs__text h1 {
  font-size: 47px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 10px;
}
.mugs__text p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 38px;
}
.mugs__text button {
  width: 231px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px;
  transition: .3s;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.mugs__text button:hover {
  background-color: brown;
  color: white;
}

@media (max-width: 991px) {
  .mugs-text {
    margin-top: 100px;
    padding: 0 15px;
  }

  .cardShop {
    width: 300px;
  }

  .cardShop img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mugs .mugs__text {
    margin-top: 100px;
  }

  .mugs__text h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .mugs__text p {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .mugs .mugs__text {
    margin-top: 80px;
  }

  .mugs__text span {
    font-size: 10px;
  }

  .mugs__text h1 {
    font-size: 35px;
  }

  .mugs__text p {
    font-size: 15px;
  }
}

/* Catalog */
.catalog {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}
.catalog__text {
  width: 658px;
  text-align: center;
  margin: 0 auto 102px;
}
.catalog__text h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
}
.catalog__text p {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 21px;
  text-transform: uppercase;
}
.catalog__text button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 28px;
  color: #A25F48;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  transition: .3s;
}
.catalog__text button:hover {
  color: darksalmon;
  border-color: darksalmon;
}
.catalog__featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalog__featured__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.catalog__featured__header span {
  width: 30px;
  height: 1px;
  background-color: #ECECED;
}
.catalog__featured__header p {
  margin: 0 15px;
  text-transform: uppercase;
}
.catalog__featured__items {
  width: 960px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 100px;
}
.cardShop img {
  margin-bottom: 35px;
}
.cardShop p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
.cardShop .cardShop__actualPrice {
  font-size: 19px;
  line-height: 32px;
  color: #A25F48;
  margin-right: 10px;
}
.cardShop__actualPrice .cardShop__price {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.cardShop__price .cardShop__innv {
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}
.catalog__products .catalog__products__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.catalog__products span {
  width: 30px;
  height: 1px;
  background-color: #ECECED;
}
.catalog__products p {
  margin: 0 15px;
  text-transform: uppercase;
}
.catalog__products .catalog__products__items {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin-bottom: 100px;
}
.catalog__products .catalog__products__items .cardShop img {
  margin-bottom: 35px;
}
.catalog__products .catalog__products__items .cardShop p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
.catalog__products .catalog__products__items .cardShop .cardShop__actualPrice {
  font-size: 19px;
  line-height: 32px;
  color: #A25F48;
  margin-right: 10px;
}
.catalog__products .catalog__products__items .cardShop .cardShop__actualPrice .cardShop__price {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.catalog__products .catalog__products__items .cardShop .cardShop__innv {
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}
.catalog__magazine {
  margin-bottom: 130px;
}
.catalog__magazine .catalog__magazine__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.catalog__magazine span {
  width: 30px;
  height: 1px;
  background-color: #ECECED;
}
.catalog__magazine p {
  margin: 0 15px;
  text-transform: uppercase;
}
.catalog__magazine__items {
  display: flex;
  gap: 20px;
}
.catalog__magazine__items .catalog__magazine__items__img {
  display: flex;
  gap: 20px;
}
.catalog__magazine__items .catalog__magazine__items__img .img-wrapepr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog__magazine__items .catalog__magazine__items__img .img-wrapepr img {
  height: 130px;
}
.catalog__magazine__items__text {
  display: flex;
  flex-direction: column;
}
.catalog__magazine__items__text span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.catalog__magazine__items__text h3 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
.catalog__magazine__items__text p {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 30px;
}
.catalog__magazine__items__text button {
  width: 173px;
  background-color: #1D1F2E;
  border: none;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 20px;
  cursor: pointer;
  transition: .3s;
}
.catalog__magazine__items__text button:hover {
  background-color: brown;
}
.catalog__magazine__items__text span,
.catalog__magazine__items__text h3,
.catalog__magazine__items__text p,
.catalog__magazine__items__text button {
  margin-left: 60px;
}

@media (max-width: 991px) {
  .catalog__products .catalog__products__items {
    width: 100% !important;
  }

  .catalog__featured__items {
    width: 100%;
  }

  .catalog__magazine__items {
    flex-direction: column;
  }

  .catalog__magazine__items__img {
    justify-content: center;
  }

  .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-wrapepr img {
    width: 100%;
  }

  .catalog__magazine__items__text {
    align-items: center;
    gap: 20px;
  }

  .catalog__magazine__items__text span {
    width: auto;
  }

  .catalog__magazine__items__text span,
  .catalog__magazine__items__text h3,
  .catalog__magazine__items__text p,
  .catalog__magazine__items__text button {
    margin-left: 0;
  }

  .catalog__magazine__items__text p {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .catalog__text {
    width: 100%;
  }

  .catalog__magazine {
    margin-bottom: 100px;
  }

  .catalog__magazine__items__text {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .catalog {
    padding-top: 100px;
  }

  .catalog__text h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .catalog__text p {
    font-size: 15px;
  }

  .catalog__featured__items .cardShop p {
    font-size: 18px;
    line-height: 28px;
  }

  .catalog__products__items .cardShop p {
    font-size: 18px;
    line-height: 28px;
  }

  .catalog__products__items .cardShop span {
    background-color: inherit;
  }

  .catalog__magazine__items {
    gap: 35px;
  }

  .catalog__magazine__items__img {
    flex-direction: column;
    text-align: center;
  }

  .catalog__magazine__items__img .img-wrapper {
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
  }

  .catalog__magazine__items__img .img-wrapper img {
    width: 295px;
  }

  .catalog__magazine__items__text {
    text-align: center;
  }

  .catalog__magazine__items__text h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .catalog__magazine__items__text p {
    font-size: 15px;
    line-height: 28px;
  }

  .catalog__featured__header p,
  .catalog__products__header p,
  .catalog__magazine__header p {
    font-size: 14px;
    text-align: center;
  }

  .catalog__products .catalog__products__items {
    gap: 20px;
  }

  .catalog__products .catalog__products__items .cardShop p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Image */
.image {
  margin-bottom: 100px;
}
.image img {
  display: flex;
  margin: 0 auto;
}
@media(max-width: 1199px) {
  .image img {
    width: 100%;
  }
}

/* Stories */
.stories {
  width: 960px;
  margin: 0 auto 141px;
}
.stories__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.stories__header span {
  width: 30px;
  height: 1px;
  background-color: #ECECED;
}
.stories__header p {
  margin: 0 15px;
  text-transform: uppercase;
}
.stories__items {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.stories__items .storiesCard {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories__items img {
  margin-bottom: 25px;
}
.stories__items .storiesCard__head-text {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}
.stories__items .storiesCard__body-text {
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}
.stories__items span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .stories {
    width: 100%;
    margin-bottom: 100px;
  }

  .stories__items {
    flex-wrap: wrap;
  }

  .stories__items .storiesCard {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .stories__items .storiesCard .storiesCard__head-text {
    font-size: 18px;
    line-height: 28px;
  }

  .stories__items .storiesCard .storiesCard__body-text {
    font-size: 15px;
  }

  .stories__items {
    gap: 35px 20px;
  }

  .stories__header p {
    font-size: 14px;
    text-align: center;
  }
}

/* Subscribe */
.subscribe {
  margin-bottom: 107px;
}
.subscribe__background {
  width: 1380px;
  height: 327px;
  margin: 0 auto;
  background-color: #1D1F2E;
}
.subscribe__background__text {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}
.subscribe__background__text .text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.subscribe__background__text .text-header span {
  width: 30px;
  height: 1px;
  background-color: rgba(210, 210, 213, 0.1);
}
.subscribe__background__text .text-header p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 0 15px;
  text-transform: uppercase;
}
.subscribe__background__text h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}
.subscribe__form {
  display: flex;
  gap: 10px;
}
.subscribe__form input {
  background-color: inherit;
  border: 1px solid #2F303E;
  padding: 18px 129px 18px 18px;
}
.subscribe__form ::placeholder,
.subscribe__form :focus {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscribe__form button {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  padding: 18px 25px;
  cursor: pointer;
  transition: .3s;
  border: none;
}
.subscribe__form button:hover {
  color: #FFFFFF;
  background-color: brown;
}

@media (max-width: 1199px) {
  .subscribe__background {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .subscribe__background__text .text-header p {
    text-align: center;
  }

  .subscribe__background__text h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .subscribe__background__text .subscribe__form {
    flex-direction: column;
  }

  .subscribe__background__text .subscribe__form input {
    padding-right: 80px;
  }
}

@media (max-width: 320px) {
  .subscribe__background__text .subscribe__form input {
    padding-right: 55px;
  }
}

/* Footer */ 
.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 52px;
}
.footer__text {
  width: 258px;
}
.footer__text img {
  margin-bottom: 22px;
}
.footer__text p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 82px;
}
.footer__text span {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer__menu a {
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  transition: .3s;
}
.footer__menu a:hover {
  color: brown;
}
.footer__follow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__follow p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer__follow a {
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  transition: .3s;
}
.footer__follow a:hover {
  color: brown;
}
.footer__contact .contactUs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.footer__contact .help {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 15px;
}
.footer__contact .email {
  font-size: 23px;
  line-height: 36px;
  margin-bottom: 55px;
}
.footer__contact span {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
    gap: 50px 10px;
    text-align: center;
  }

  .footer__text,
  .footer__follow {
    width: 48%;
  }

  .footer__menu,
  .footer__contact {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .footer {
    justify-content: center;
  }

  .footer__text,
  .footer__contact,
  .footer__follow,
  .footer__menu {
    width: 100%;
  }

  .footer__text p {
    margin-bottom: 50px;
  }
}